.container {
  display: flex;
  flex-wrap: wrap;
  width:900px;
background:black
}

.square {
	background-color:rgb(29,29,29);
  width: 20px;
  height: 20px;
  margin: 1px;
  transition: background-color 0.5s;
}

.square:hover {
  background-color: red; 
}

.square.hover-end {
  transition-delay: 1s;
}
@keyframes transitionBack {
  0% {
    background-color: red; /* Change to your desired hover color */
  }
  100% {
    background-color: rgb(29, 29, 29); /* Set initial background color */
  }
}

.square.transition-back {
  animation: transitionBack 1s;
}
