.container {
  display: flex;
  flex-wrap: wrap;
  width:900px;
background:black
}

.square {
	background-color:rgb(29,29,29);
  width: 20px;
  height: 20px;
  margin: 1px;
  transition: background-color 0.5s;
}

.square:hover {
  background-color: red; /* Change to your desired hover color */
}

.square.hover-end {
  transition-delay: 1s;
}